################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/dotnetcore/.vs/DotnetCoreCommons/v16
/dotnetcore/Intellegens.Commons/bin/Debug/netcoreapp3.1
/dotnetcore/Intellegens.Commons/obj
/dotnetcore/.vs